:root {
  --select-btn-color: #1f4a7f;
  --game-header-color: rgb(234, 206, 23);
  --game-background-color: #1f4a7f;
  --dice-border-color: black;
  --dice-bg-color: #decfca;
  --button-bg-color: #1f4a7f;
  --button-text-color: var(--game-header-color);
  --scoreboard-background-color: #decfca;
  --scoreboaard-text-color: BB534A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  display: grid;
}

.header {
  background-color: #fff;
  grid-area: hd;
}

.header-grid {
  display: grid;
  grid-template-columns: 60px 200px auto;
  grid-template-rows: 60px;
}

.header-logo {
  background-color: #fff;
  background-image: url(../img/neil2.png);
  background-size: cover;
  margin: 10px;
}

.header-name {
  background-color: #fff;
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  font-size: 30pt;
  padding-top: 7px;
  margin-left: -5px;
  color: #666;
}

.header-nav {
  background-color: #fff;
}

.container-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px auto 60px;
}

.main {
  max-width: 950px;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--game-background-color);
  border: 1px solid rgb(0, 0, 0);
}

.content {
  /*Padding for whatever is indside the border with rounded corners!*/
  padding: 10px;
}

.footer {
  background-color: #fff;
  color: #3f367b;
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
}

.game-grid {
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 60% 40%;
}

.game-header {
  grid-column: 1/3;
  text-align: center;
  font-family: Orbitron, Arial, sans-serif;
  font-size: 3.5em;
  color: var(--game-header-color);
}

.sc-grid {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  max-width: 90%;
}

.dice-and-controls-grid {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
}

.dice-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  padding-left: 15px;
  width: 100%;
}

.dice {
  text-align: center;
  border: 1px solid var(--dice-border-color);
  background-color: var(--dice-bg-color);
  margin: 0px 5px;
  font-size: 2em;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
  height: 50px;
  width: 50px;
  padding-top: 5px;
}

.dice-four,
.dice-five {
  margin-left: 60px;
}
.buttons-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: left;
}

.btn,
.roll {
  height: 50px;
  font-family: Orbitron, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  margin-top: 20px;
  margin-right: 35px;
  text-align: center;
  padding-top: 12px;
  border: 1px solid var(--button-text-color);
  border-radius: 8px;
}

.sc-pr-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
}

.sc {
  background-color: var(--scoreboard-background-color);
  padding: 4px;
  border: 1px solid var(--game-background-color);
}

.sc-p0-name {
  text-align: center;
}

.score {
  text-align: center;
  padding-top: 2px;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
}
.btn-select {
  width: 20px;
  height: 20px;
  background-color: var(--select-btn-color);
  margin: 1px;
  text-align: center;
  padding-top: 15px;
  border-radius: 4px;
  border: 1px solid black;
}

.heavy {
  font-weight: 600;
}
